footer{
    margin-bottom: 0;
    height: 150px;
    width: 100%;
    background-color: rgba(83, 83, 83, 1);
    z-index: 4;
    color: white;
    display: flex;
    justify-content: space-between;
    text-align: center;
    overflow: hidden;

    .gaucheFooter{
        display: flex;
        align-items: center;
        width: 350px;
        text-align: center;
        .logoConnexion{
            width: 250px;
        }
    }
    .centreFooter{
        text-align: center;
        width: 350px;
        font-size: 20px;


        .Copyright{
            font-size: 12px;
        }

        
    }
    .droiteFooter{
        width: 350px;
        text-align: center;
        font-size: 20px;
        .icone{
            width:50px;
            color: black;
        }
    }
}